[user]
	email = me@domain.com
	name = My Name
	username = myusername
[push]
	default = matching
[color]
	ui = true
[core]
	editor = /usr/bin/vim
	autocrlf = input
[gui]
[http]
	sslVerify = false
[alias]
	cam = "!git add . && git commit -m "
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
