[user]
	email = alex.balakersky@dlt.com
	name = Alex Balakersky
	username = abalakersky
[push]
	default = matching
[color]
	ui = true
[core]
	editor = /usr/bin/vim
	autocrlf = input
[gui]
	recentrepo = /home/abalakersky/Development/aws-scripts
[http]
	sslVerify = false
[alias]
	cam = "!git add . && git commit -m "
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
